html{
  body{
    margin: 0;
    padding:0;
    background: black;
    position: relative;
    font-family: 'Raleway';
    font-size:20px;
    header{
      display: none;
      h1{
        font-size: 0;
      }
    }
    #ambient-video{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      video{
        position: absolute;
      }
    }

    #content{
      position: relative;

      color: white;

      font-family: Raleway;

      section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        #title{
          margin: 60px 0;
        }
        #logo{
          margin: 240px 0 0 0;
        }
        h2{
          text-transform: uppercase;
          font-size:1.875rem;
          font-weight: normal;
          margin: 50px 0 20px;
        }
        .purchase-links, .social-links{
          list-style: none;
          margin: 0;
          padding: 0;
          li{
            display: inline-block;
            padding: 0;
            &:not(:last-child){
              margin: 0 40px 0 0;
            }
          }
        }
        .purchase-links{
          font-size: 1.4rem;
          text-transform: uppercase;
          a{
            color: white;
            &:hover{
              color: white;
            }
            &:visited{
              color: white;
            }
          }
        }
        .social-links{
          li{
            margin-top: 20px;
            a.social{
              display: inline-block;
              font-size: 0;
              width: 48px;
              height: 48px;
              &.facebook{
                // Nothing
              }
              &.instagram{
                background-position: -48px 0;
              }
              &.twitter{
                background-position: 48px 0;
              }
            }
          }
        }
        h3.hashtag{
          text-transform: uppercase;
          margin: 20px 0 0;
          padding: 0;
          font-size:1.56rem;
          a{
            color: white;
            text-decoration: none;
            font-weight: normal;
            &:hover{
              text-decoration: underline;
            }
            &:visited{
              color: white;
            }
            &:active{
              color: white;
            }
          }
        }
      }
    }

    footer{
      font-size: 0.625rem;
      opacity: 0.8;
      text-align: center;
    }
  }
}