.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}

html {
  body {
    margin: 0;
    padding: 0;
    background: black;
    position: relative;
    font-family: 'Raleway';
    font-size: 1.25rem;
    header {
      display: none;
      h1 {
        font-size: 0;
      }
    }
    #ambient-video {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      video {
        position: absolute;
      }
    }

    #content {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      bottom: 0;
      height: 100%;
      left: 0;
      right: 0;
      width: 100%;

      @include extra-small {
        position: relative;
      }

      section {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &#lower {
          @include extra-small {
            margin-top: 50vh;
          }
        }

        #title {
          margin: 60px 0 0;
          @include mobile {
            margin: 20px 0 0 0;
            width: calc(100vw - 40px);
            max-width: 400px;
            height: auto;
          }
        }

        #logo {
          margin: 20px 0 0 0;
          width: 100%;
          max-width: 135px;
          @include extra-small {
            max-width: 60px;
            margin: 5px 0 0 0;
          }

        }

        h2 {
          text-transform: uppercase;
          font-size: 1.875rem;
          font-weight: normal;
          margin: 15px 0 0;
          text-align: center;
          letter-spacing: 4px;
          font-weight: 300;
        }

        .small-wrap {
          position: relative;
          a {
            color: white;
            text-decoration: none;
            &:visited {
              color: white;
            }
            &:active {
              color: white;
            }
            &:hover{
              text-decoration: underline;
            }
            &.drawer {
              &:after {
                -webkit-transition: all 300ms 0s ease-in-out;
                transition: all 300ms 0s ease-in-out;
                content: url('../img/drawer-icon.png');
                display: inline-block;
                position: absolute;
                bottom: 4px;
              }

            }
            &.open {
              &:after {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                bottom: -1px;
              }
            }
          }

          @include extra-small {
            font-size: 80%;
            display: block;
            a.drawer:after{
              bottom: -1px;
            }
          }
        }

        .purchase-links, .social-links {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
          li {
            padding: 0;
          }

        }

        .purchase-links {
          font-size: 1.4rem;

          li {
            letter-spacing: 4px;
            margin-top: 20px;
            &:not(:last-child) {
              margin-right: 20px;
            }

            a {
              color: white;
              &:hover {
                color: white;
              }
              &:visited {
                color: white;
              }
              .store-button {
                height: 40px;
                width: auto;
              }
            }

            @include extra-small {
              width: 50%;
              &:not(:last-child) {
                margin-right: 0;
              }
              text-align: center;
              img {
                display: inline-block;
              }
            }
          }
        }

        .social-links {

          li {
            margin: 0 20px;
            a.social {
              display: inline-block;
              font-size: 0;
              width: 48px;
              height: 48px;
            }
          }

          @include extra-small {
            width: 100%;
            align-items: center;
            li {
              margin: 0;
              width: 25%;
              text-align: center;
            }
          }
        }

        h3.hashtag {
          text-transform: uppercase;
          margin: 8px 0 20px;
          @include extra-small {
            margin: 8px 0 10px 0;
          }
          padding: 0;
          font-size: 1.56rem;
          letter-spacing: 3px;
          font-weight: 300;
          a {
            color: white;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
            &:visited {
              color: white;
            }
            &:active {
              color: white;
            }
          }
        }
      }
    }

    footer {
      font-size: 0.625rem;
      opacity: 0.8;
      text-align: center;
    }
  }

}