<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sir Rosevelt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/icons/apple-touch-icon-152x152.png"/>

    <link rel="icon" type="image/png" href="img/icons/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="img/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="img/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="img/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="img/icons/favicon-128.png" sizes="128x128"/>

    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="{{data.assetURL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/vendor/modernizr-2.8.3.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">

    <meta property="og:title" content="Sir Rosevelt"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://sirrosevelt.com"/>
    <meta property="og:image" content="{{data.assetURL}}img/facebook-share-sunday-finest.jpg"/>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '437263696447236'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=437263696447236&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!--
    Build:
    {% include './src/rev.html' %}
    Type:
    {{data.name}}
    Serving data from:
    {{data.assetURL}}
    -->

</head>
<body>

<header>
    <div class="header-background">
        <div class="wrapper">

            <h1 aria-live="polite" aria-hidden="false">
                Sir Rosevelt
            </h1>

            <img class="logo top-logo"
                 src="img/zac-brown-new-group-southern-pop-sir-rosevelt.svg"
                 alt="Zac Brown's New Group Sir Rosevelt"
            />

            <div class="flexGroup">
                <div class="innerWrapper">
                    <div class="flexy">

                        <ul class="header-nav ">
                            <li class="header-nav-item tour">
                                <a href="https://www1.ticketmaster.com/event/1700535A89321B39"
                                   title="Buy Tickets"
                                   class="link"
                                   target="_blank"
                                   data-nav-action="join">Tour</a>
                            </li>

                            <li class="header-nav-item join">
                                <a href="#"
                                   class="menuItem"
                                   title="Keep Up To Date with Zac Brown and Sir Rosevelt"
                                   data-nav-action="join">Join</a>
                            </li>
                            <li class="header-nav-item">
                                <a href="{{data.preorderLink}}"
                                   class="link"
                                   title="Pre-Order the new Album"
                                   target="_blank"
                                   data-nav-action="pre-order">Pre-Order</a>
                            </li>
                           <!-- <li class="header-nav-item listen">
                                <a href="#"
                                   class="menuItem"
                                   title="Listen to Zac Brown Sir Rosevelt"
                                   data-nav-action="listen">Listen</a>
                            </li>-->
                        </ul>

                        <ul class="social-links">
                            <li class="">
                                <a href="{{data.links.facebook}}"
                                   class="social facebook"
                                   target="_blank"
                                   title="Follow Sir Rosevelt on Facebook"
                                   data-asset-path="{{data.assetURL|safe}}img/zac-brown-new-group-southern-pop-sir-rosevelt-social.png">Facebook</a>
                            </li>
                            <li class="">
                                <a href="{{data.links.twitter}}"
                                   class="social twitter"
                                   target="_blank"
                                   title="Follow Sir Rosevelt on Twitter"
                                   data-asset-path="{{data.assetURL|safe}}img/zac-brown-new-group-southern-pop-sir-rosevelt-social.png">Twitter</a>
                            </li>
                            <li class="">
                                <a href="{{data.links.instagram}}"
                                   class="social instagram"
                                   target="_blank"
                                   title="Follow Sir Rosevelt on Instagram"
                                   data-asset-path="{{data.assetURL|safe}}img/zac-brown-new-group-southern-pop-sir-rosevelt-social.png">Twitter</a>
                            </li>
                            <li class="">
                                <a href="{{data.links.youtube}}"
                                   class="social youtube"
                                   target="_blank"
                                   title="Follow Sir Rosevelt on YouTube"
                                   data-asset-path="{{data.assetURL|safe}}img/zac-brown-new-group-southern-pop-sir-rosevelt-social.png">YouTube</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="controls flexy">
                    <a href="#" class="header-audioControl">Play/Pause</a>
                    <a href="#" class="header-hamburger">Menu</a>
                </div>
            </div>

        </div>
    </div>
    <div id="SecondaryHeaderContent">

        <div class="header-nav-option join-list"
             style="display:none;"
             data-nav-target="join">
            Stay in the know about Sir Rosevelt
            <form method="post" action="http://southerngroundnashville.com/sir-rosevelt-mail.php">
                <input id="JoinEmail" type="email" placeholder="Email Address" name="email"/>
                <button id="JoinButton" type="submit">Submit</button>
            </form>
            <p id="FormError" class="formResponse formError"></p>
            <p id="FormSuccess" class="formResponse formSuccess"></p>
        </div>

        <div class="header-nav-option purchase-links"
             style="display:none;"
             data-nav-target="listen">
            <ul class="purchase-links-list">
                {% for purchaseOption in data.purchaseLinks %}
                <li><a href="{{purchaseOption.url}}" class="purchase-link" target="_blank" {% if purchaseOption.inactive
                       %}disabled="disabled" {% endif %}><img
                    class="store-button {% if purchaseOption.inactive %}disabled{% endif %}"
                    src="{{data.assetURL}}{{purchaseOption.icon}}" title="{{purchaseOption.title}}"
                    alt="Get Sir Rosevelt on {{purchaseOption.title}}"/></a></li>
                {% endfor %}
            </ul>
        </div>

        <a href="#" class="secondaryHeaderContent-close" style="display:none">CLOSE</a>

    </div>
</header>

<div id="content">
    <section id="CoverAnimation" class="section-video headCard">
        <div class="videoWrapper">
            <video class="ambientVideo"
                   data-src="{{data.assetURL}}video/cover-animation.mp4"
                   data-poster="{{data.assetURL}}img/video-posters/sr-finalframe-albumart-16-9.jpg"
                   data-src-width="1920"
                   data-src-height="1080"
                   autoplay loop muted webkit-playsinline>
            </video>
        </div>

        <div class="headCard-group_bottom">

            <div class="scroll scroll-first">
                Scroll
                <img class="scroll-icon"
                     src="img/zac-brown-new-group-southern-pop-sir-rosevelt-scroll-icon.png"
                     alt="Scroll Down"
                />
            </div>

        </div>

    </section>
    <section id="Eye" class="section-video ">
        <div class="cta-overlay">
            <div>
                <h2 class="glitch glitch-two" data-text="Debut Album Out 12.15.17">
                    Debut Album Out 12.15.17
                </h2>
                <p>Feat. &quot;Something &#039;bout You&quot; and &quot;Sunday Finest&quot;</p>
            </div>
            <div>
                <a href="{{data.preorderLink}}" class="cta" target="_blank">Pre-Order Now</a>
            </div>
        </div>
        <div class="two-columns">
            <div class="eye-image">
                <img src="{{data.assetURL}}img/eye.gif" />
            </div>
            <div class="gradient-back">
                <h2>Instantly receive <br/>&quot;something &#039;bout you&quot; <br/>with <a
                    href="{{data.preorderLink}}" target="_blank">album pre-order</a></h2>
            </div>
        </div>
    </section>
    <section id="BrandingVideo" class="section-video">
        <h2 class="branding-video"><span class="glitch glitch-two" data-text="Watch the Brand New Lyric Video:">Watch the Brand New Lyric Video:</span></h2>
        <div class='embed-container'>
            <iframe src='https://www.youtube.com/embed/MzfYVcSUDNQ?modestbranding=1&autohide=1&showinfo=0&controls=0'
                    frameborder='0' allowfullscreen></iframe>
        </div>
    </section>
    <section id="SundayFinestVideo" class="section-video">
        <div class="two-columns">
            <div class="half-page gradient-back">
                <h2 class="order-cta">
                    <a href="https://www.youtube.com/watch?v=GMgA7uZ7vj4" target="_blank">
                        Watch the &quot;Sunday Finest&quot; music video
                    </a>
                </h2>
            </div>

            <div class="half-page eye-image section-video">
                <!--<img src="{{data.assetURL}}img/groundhog.gif" />-->
                <div class="videoWrapper--half-screen">
                    <video class="ambientVideo--half-screen"
                           data-src="{{data.assetURL}}video/groundhog-2000kbps.mp4"
                           data-poster="{{data.assetURL}}img/video-posters/sundayfinest-singleart-FINAL.jpg"
                           data-src-width="1920"
                           data-src-height="1080"
                           height="100%"
                           width="auto"
                           autoplay loop muted webkit-playsinline>
                    </video>
                </div>
            </div>

        </div>
    </section>

    <section id="Members" class="section-band">
        <div class="member-names">
            <div><span class="first-name glitch glitch-three" data-text="Ben">Ben</span> <span class="glitch glitch-two" data-text="Simonetti">Simonetti</span></div>
            <div><span class="first-name glitch glitch-two" data-text="Zac">Zac</span> <span class="glitch glitch-one" data-text="Brown">Brown</span></div>
            <div><span class="first-name glitch glitch-two" data-text="Niko">Niko</span> <span class="glitch glitch-three" data-text="Moon">Moon</span></div>
        </div>
        <img class="member-photo" src="{{data.assetURL}}img/dinner.jpg" />
        <div class="dinner-is-ready glitch glitch-two" data-text="Dinner is Ready">Dinner is Ready</div>

        <img class="endCard-logo" alt="Sir Rosevelt's Emblem"
             src="{{data.assetURL}}img/zac-brown-new-group-southern-pop-sir-rosevelt-monogram-white.svg"/>

        <div class="scroll scroll-to-top">
            Back to Top
            <img class="scroll-icon scroll-icon-inverse"
                 src="{{data.assetURL}}img/zac-brown-new-group-southern-pop-sir-rosevelt-scroll-icon.png"
                 alt="Scroll to Top"
            />
        </div>

    </section>

    <div class="scroll scroll-next" style="display:none;">
        Scroll
        <img class="scroll-icon"
             src="{{data.assetURL}}img/zac-brown-new-group-southern-pop-sir-rosevelt-scroll-icon.png"
             alt="Scroll Down"
        />
    </div>

</div>

<footer>&copy;2017</footer>

<script src="{{data.assetURL}}js/vendor/jquery-1.12.0.min.js"></script>
<script src="{{data.assetURL}}js/vendor/jquery.easing.1.3.js"></script>
<script src="{{data.assetURL}}js/vendor/underscore-min.js"></script>
<script src="{{data.assetURL}}js/vendor/iphone-inline-video.browser.js"></script>
<script src="{{data.assetURL}}js/plugins.js"></script>
<script src="{{data.assetURL}}js/main.js"></script>

<!-- Google Code for Sir Rosevelt - Site - 540 Day Conversion Page -->
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 996482958;
    var google_conversion_label = "K6a6CMnjlXgQjr-U2wM";
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/996482958/?value=1.00&label=K6a6CMnjlXgQjr-U2wM&guid=ON&script=0"/>
    </div>
</noscript>

<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-54746522-8', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
